
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body{
    margin: 0px;
    font-family: 'Roboto';
}
ul{margin: 0; padding:0;}
ul li{list-style: none;}


.p-1{ padding: 10px; }



.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.name{
    margin-top: 15px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
}

ul{
    display: flex;
    margin-right: 25px;
}
li{
    margin: 15px 8px;
    color: gray;
}
.directory{
    margin-left: 10px;
    color: gray;
    margin-right: 15px;
}
.content{
    display: flex;

}
.images{
    padding: 15px;
    width: 60%;
    height: 45%;
}
.main-img{
    width: 100%;
    height: 100%;
}
.small{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.small-img{
    margin: 1px;
    width: 32%;
    height: 100%;
}
.text{
    width: 45%;
    height: 45%;
}
.title-price{
    margin-bottom: 50px;
}
h1{
    margin: 25px;
    font-weight: 300;
}
p{
    margin: 25px;
    color: gray;
}
button{
    margin: 25px;
    height: 50px;
    width: 200px;
    background-color: rgb(100, 94, 94);
    color: white;
    font-weight: bold;
    border: 0px;
}
